@using AspNetCore.ReCaptcha;
@using filmblogu.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Article.";
}
@model BlogArticleVM

<div class="nk-main active" id="nk-main" data-transition-speed="500" data-transition-in="bottom" data-transition-out="right">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-vertical-top">
                <div>

                    <div class="nk-article-date nk-item-offset"><strong>@Model.Movie.Updated_On</strong></div>
                    <div class="nk-gap-3 mb-9"></div>
                    <h1 class="nk-article-title h2"> @Model.Movie.MovieName</h1>

                    @Html.Raw(@Model.Movie.Content)

                    <ul class="nk-article-tags">
                        <li><a href="#">Bilim Kurgu</a></li>
                        <li><a href="#">Dram</a></li>
                        <li><a href="#">Aksiyon</a></li>
                    </ul>


                    <!-- START: Comments -->
                    <div class="nk-comments" id="comments">
                        <h3 class="text-main">Yorumlar</h3>
                        @if (Model.Comments == null)
                        {
                            <div class="nk-comment">
                                <div class="nk-comment-text">
                                    <p>Henüz Yorum</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model.Comments)
                            {

                                <div class="nk-comment">
                                    <div class="nk-comment-avatar">
                                    </div>
                                    <div class="nk-comment-meta">
                                        <div class="nk-comment-name">@item.name</div>
                                        <div class="nk-comment-date">@item.Date</div>
                                    </div>
                                    <div class="nk-comment-text">
                                        <p> @item.TheComment </p>
                                    </div>
                                </div>
                            }

                        }
                        <!-- START: Comment -->
                        <!-- END: Comment -->
                    </div>
                    <!-- START: Reply -->
                    @if (ViewBag.IsIn)
                    {
                        <div class="nk-reply">
                            <h3 class="text-main">Yorumla</h3>
                            <input readonly class="form-control" value="Giriş Yapmadan Yorum Yapamazsınız" name="UserId" placeholder="Your Name">
                            <button class="nk-form-btn text-main"> <a href="/login">Giriş Yap</a> </button>
                            <div class="nk-gap-2"></div>
                        </div>
                    }
                    else
                    {
                        <div class="nk-reply">
                            <h3 class="text-main">Yorumla</h3>
                            <form asp-action="addcomment" asp-controller="comment" class="nk-form">
                                <textarea class="form-control" name="thecomment" rows="1" placeholder="Comment"></textarea>
                                <input type="hidden" class="form-control" name="UserId" value="@Accessor.HttpContext.Session.GetString("LoginId")">
                                <input type="hidden" class="form-control" name="FilmId" value="@Model.Movie.Id">
                                <button class="nk-form-btn text-main">Gönder</button>
                                <p>@ViewBag.Comment</p>
                                @Html.ReCaptcha()
                            </form>
                            <div class="nk-gap-2"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Right Info -->
    <div class="nk-layout">
        <div class="nk-layout-bottom-right-rotated">
        </div>
    </div>
</div>
<div class="nk-main-bg"></div>
<!-- END: Main Page Content -->
<!--
    START: Blog

    Additional Classes:
        .active

    Note:
        If you don't want to show blog, just remove all content inside and remove .active class, but don't remove this block completely
-->
<div class="nk-blog" id="nk-blog">
</div>
<!-- END: Blog -->
